@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);







body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #2aa9e0 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #2aa9e0;
  border-color: #2aa9e0;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #187ba5;
  border-color: #187ba5;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #187ba5 !important;
  border-color: #187ba5 !important;
}
.btn-secondary {
  background-color: #1e75ba;
  border-color: #1e75ba;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #134c78;
  border-color: #134c78;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #134c78 !important;
  border-color: #134c78 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #156a8f;
  color: #156a8f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #2aa9e0;
  border-color: #2aa9e0;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2aa9e0 !important;
  border-color: #2aa9e0 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #103e62;
  color: #103e62;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #1e75ba;
  border-color: #1e75ba;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #1e75ba !important;
  border-color: #1e75ba !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #2aa9e0 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #2aa9e0;
}
.btn-social:hover {
  background: #2aa9e0;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #2aa9e0;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #2aa9e0;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #2aa9e0;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #2aa9e0;
}
.lead a,
.lead a:hover {
  color: #2aa9e0;
}
.lead blockquote {
  border-color: #2aa9e0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #dcf1fa;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #2aa9e0;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Open Sans', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Open Sans', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.features6 .feature-title {
  font-family: 'Open Sans', sans-serif;
}
.features6 .description {
  font-family: 'Open Sans', sans-serif;
}
.count,
.counter-title {
  font-family: 'Open Sans', sans-serif;
}
.counter-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-iconfont-counters1 {
  color: #2aa9e0;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Open Sans', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader5 .container label {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Open Sans', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Open Sans', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Open Sans', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader13 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extHeader13 .number {
  font-family: 'Open Sans', sans-serif;
}
.extHeader13 .period {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader13 .dot {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extFeatures .feature-text {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #2aa9e0;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extForm2 .container h3 {
  font-family: 'Open Sans', sans-serif;
}
.extForm2 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #2aa9e0;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extPricingTable1 .mbr-plan-label {
  background: #2aa9e0;
}
.extCounters2 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extCounters3 .count {
  font-family: 'Open Sans', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Open Sans', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #2aa9e0;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #2aa9e0;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #2aa9e0;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Open Sans', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Open Sans', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #2aa9e0;
}
.extAccordion1 .panel-heading a {
  font-family: 'Open Sans', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #2aa9e0;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Open Sans', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #2aa9e0;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #2aa9e0;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #2aa9e0;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extMsg-box1 .container h3 {
  font-family: 'Open Sans', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extMsg-box1 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Open Sans', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Open Sans', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #2aa9e0 !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #2aa9e0;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #2aa9e0;
}
#menu-0 {
  
  
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}
#menu-0 .navbar-toggler {
  color: #28324e;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #28324e;
  font-family: 'Roboto', sans-serif;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #2aa9e0;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #e6e6e6;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-0 .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #2aa9e0;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #2aa9e0!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #28324e;
}
#header1-1 .mbr-section-title {
  font-size: 46px;
}
#header1-1 .mbr-section-title SPAN {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  color: #ffffff;
}
#header1-1 .mbr-section-lead {
  font-size: 30px;
  color: #cccccc;
}
#header1-1 .mbr-section-lead SPAN {
  font-size: 30px;
}
#msg-box8-1j .mbr-section-title,
#msg-box8-1j p {
  color: #fff;
}
#header3-i .mbr-section-title,
#header3-i .mbr-section-subtitle {
  text-align: center;
}
#header3-i H3 {
  color: #334047;
  text-align: right;
}
#features6-1 H4 {
  color: #334047;
}
#features6-1 SPAN {
  color: #1e75ba;
}
#features6-1 H5 {
  color: #334047;
}
#features6-1 P {
  text-align: center;
  color: #98a8af;
  font-size: 15px;
}
#content5-r .mbr-section-title,
#content5-r p {
  color: #fff;
}
#content5-r P {
  font-size: 36px;
  color: #1e75ba;
}
#content5-r .mbr-section-title {
  font-size: 48px;
  color: #334047;
}
#content5-r .mbr-section-title SPAN {
  color: #334047;
}
#content8-z .mbr-section-title,
#content8-z p {
  text-align: right;
  color: #fff;
}
#content8-z P {
  font-size: 36px;
  text-align: left;
}
#content8-z .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#content2-10 BLOCKQUOTE {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#content5-1b .mbr-section-title,
#content5-1b p {
  color: #fff;
}
#content5-1b P {
  font-size: 36px;
  color: #cc3a21;
}
#content5-1b .mbr-section-title {
  font-size: 48px;
  color: #334047;
}
#content5-1b .mbr-section-title SPAN {
  color: #334047;
}
#slider-1d H2 {
  color: #cc3a21;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
}
#slider-1d P {
  color: #334047;
  font-family: 'Open Sans', sans-serif;
}
#header3-f .mbr-section-title,
#header3-f .mbr-section-subtitle {
  text-align: center;
}
#pricing-table2-8 .mbr-plan-header,
#pricing-table2-8 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-8 ul,
#pricing-table2-8 .mbr-plan-title,
#pricing-table2-8 .mbr-price-value,
#pricing-table2-8 .mbr-price-figure,
#pricing-table2-8 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-8 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-8 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-8 .mbr-price-figure {
  color: #28262b;
  font-size: 48px;
}
#pricing-table2-8 UL {
  text-align: center;
  font-size: 19px;
  color: #28262b;
}
#pricing-table2-8 .mbr-plan-title {
  font-size: 17px;
}
#footer1-2 P {
  color: #ffffff;
  text-align: right;
}
#msg-box2-16 .mbr-section-title {
  color: #fff;
}
#msg-box2-16 .mbr-section-subtitle {
  color: #a0a0a0;
}
#form1-2y .form-control-label {
  color: #232323;
}
#contacts1-e P {
  color: #98a8af;
}
#contacts1-e STRONG {
  color: #ffffff;
  text-align: left;
}





#menu-2d {
  
  
}
#menu-2d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2d .navbar-caption {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}
#menu-2d .navbar-toggler {
  color: #28324e;
}
#menu-2d .link,
#menu-2d .dropdown-item {
  color: #28324e;
  font-family: 'Roboto', sans-serif;
}
#menu-2d .link {
  font-size: 1rem;
}
#menu-2d .dropdown-item,
#menu-2d .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-2d .link:hover,
#menu-2d .dropdown-item:hover,
#menu-2d .link:focus,
#menu-2d .dropdown-item:focus {
  color: #2aa9e0;
}
#menu-2d .link[aria-expanded="true"],
#menu-2d .dropdown-menu {
  background: #e6e6e6;
}
#menu-2d .nav-dropdown-sm .link:focus,
#menu-2d .nav-dropdown-sm .link:hover,
#menu-2d .nav-dropdown-sm .dropdown-item:focus,
#menu-2d .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2d .navbar,
#menu-2d .nav-dropdown-sm,
#menu-2d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2d .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2d .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-2d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2d .bg-color.transparent.opened .link:hover,
#menu-2d .bg-color.transparent.opened .link:focus {
  color: #2aa9e0;
}
#menu-2d .link[aria-expanded="true"],
#menu-2d .dropdown-item[aria-expanded="true"] {
  color: #2aa9e0!important;
}
#menu-2d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2d .close-icon::before,
#menu-2d .close-icon::after {
  background-color: #28324e;
}
#header1-2e .mbr-section-title {
  font-size: 46px;
}
#header1-2e .mbr-section-title SPAN {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  color: #ffffff;
}
#header1-2e .mbr-section-lead {
  font-size: 30px;
  color: #cccccc;
}
#header1-2e .mbr-section-lead SPAN {
  font-size: 30px;
}
#header1-2e .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#msg-box8-2f .mbr-section-title,
#msg-box8-2f p {
  color: #fff;
}
#header3-2g .mbr-section-title,
#header3-2g .mbr-section-subtitle {
  text-align: center;
}
#header3-2g H3 {
  color: #334047;
  text-align: right;
}
#features6-2h H4 {
  color: #334047;
}
#features6-2h SPAN {
  color: #1e75ba;
}
#features6-2h H5 {
  color: #334047;
}
#features6-2h P {
  text-align: center;
  color: #98a8af;
  font-size: 15px;
}
#content5-2i .mbr-section-title,
#content5-2i p {
  color: #fff;
}
#content5-2i P {
  font-size: 36px;
  color: #1e75ba;
  text-align: right;
}
#content5-2i .mbr-section-title {
  font-size: 48px;
  color: #334047;
  text-align: right;
}
#content5-2i .mbr-section-title SPAN {
  color: #334047;
}
#content6-2j P {
  text-align: right;
}
#content6-2j DIV {
  text-align: right;
}
#content8-2l .mbr-section-title,
#content8-2l p {
  text-align: right;
  color: #fff;
}
#content8-2l P {
  font-size: 36px;
  text-align: left;
}
#content8-2l .mbr-section-title {
  color: #ffffff;
  text-align: right;
}
#content8-2l DIV {
  font-size: 24px;
  color: #ffffff;
  text-align: right;
}
#content2-2m BLOCKQUOTE {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#content2-2m P {
  text-align: right;
}
#content5-2o .mbr-section-title,
#content5-2o p {
  color: #fff;
}
#content5-2o P {
  font-size: 36px;
  color: #cc3a21;
  text-align: right;
}
#content5-2o .mbr-section-title {
  font-size: 48px;
  color: #334047;
  text-align: right;
}
#content5-2o .mbr-section-title SPAN {
  color: #334047;
}
#content6-2p DIV {
  text-align: right;
}
#slider-2q H2 {
  color: #cc3a21;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}
#slider-2q P {
  color: #334047;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}
#header3-2r .mbr-section-title,
#header3-2r .mbr-section-subtitle {
  text-align: center;
}
#pricing-table2-2s .mbr-plan-header,
#pricing-table2-2s .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-2s ul,
#pricing-table2-2s .mbr-plan-title,
#pricing-table2-2s .mbr-price-value,
#pricing-table2-2s .mbr-price-figure,
#pricing-table2-2s .mbr-price-term {
  color: #28262b;
}
#pricing-table2-2s .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-2s .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-2s .mbr-price-figure {
  color: #28262b;
  font-size: 48px;
}
#pricing-table2-2s UL {
  text-align: center;
  font-size: 19px;
  color: #28262b;
}
#pricing-table2-2s .mbr-plan-title {
  font-size: 17px;
}
#footer1-2t P {
  color: #ffffff;
  text-align: right;
}
#msg-box2-2u .mbr-section-title {
  color: #fff;
  text-align: right;
}
#msg-box2-2u .mbr-section-subtitle {
  color: #a0a0a0;
  text-align: right;
}
#msg-box2-2u .btn {
  font-size: 16px;
}
#header3-2v .mbr-section-title,
#header3-2v .mbr-section-subtitle {
  text-align: center;
}
#header3-2v H3 {
  color: #2969b0;
}
#form1-2w {
  
}
#form1-2w .form-control-label {
  color: #28324e;
}
#form1-2w .btn {
  font-family: 'Roboto', sans-serif;
}
#form1-2w .mbr-section-title SPAN {
  color: #2969b0;
}
#contacts1-2x P {
  color: #98a8af;
}
#contacts1-2x STRONG {
  color: #ffffff;
  text-align: left;
}
